@model DO_AN_CUOI.Models.Nhanvien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nhanvien</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <p>Tên nhân viên</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tennv)
        </dd>
        <dt class="col-sm-2">
            <p>Ngày sinh</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>
        <dt class="col-sm-2">
            <p>Giới tính</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>
        <dt class="col-sm-2">
            <p>Số điện thoại</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class="col-sm-2">
            <p>Địa chỉ</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Manv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
